.wpcd-head {
	margin-bottom: 20px;
}
.wpcd-head {
	background: #92c93d;
	color: #fff;
	text-align: left;
	padding: 25px 20px;
}
.wpcd-subhead {
	padding: 0 20px;
}
.wpcd-content-wrap {
	padding: 20px;
	background-color: #FFF;
}
.wpcd-head div {
	/*background: #db304433;*/
	padding: 2px 5px;
	border-radius: 3px;
	top: 10px;
	position: relative;
	font-size: 11px;
	margin-bottom: 5px;
	display: inline-block;
}
.wpcd-menu-settings ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.wpcd-menu-settings ul li {
	display: block;
	text-decoration: none;
	margin-bottom: 0;
}
.wpcd-menu-settings ul li a {
	display: block;
	text-decoration: none;
	padding: 10px 15px 10px 40px;
	color: #555;
	font-size: 14px;
	font-weight: 400;
	outline: 0;
	position: relative;
	background-color: #e5e5e5;
	transition: all 0.2s ease-in-out 0s;
	transition-property: border, background, color;
	-webkit-transition-duration: .05s;
	transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.wpcd-menu-settings ul li a:before {
	position: absolute;
	left: 5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 30px;
	text-align: center;
	font-family: dashicons;
	font-size: 20px;
}
.wpcd-menu-settings ul li.wpcd-general a:before {
	content: "\f107";
}
.wpcd-menu-settings ul li.wpcd-display a:before {
	content: "\f115";
}
.wpcd-menu-settings ul li.wpcd-pagination a:before {
	content: "\f111";
}
.wpcd-menu-settings ul li.wpcd-field a::before {
	content: "\f540";
}
.wpcd-menu-settings ul li a:focus {
	outline: 0;
	box-shadow: none;
}

.wpcd-field {
	display: inline-block;
	width: 70%;
	padding: 20px 20px 0;
}
.wpcd-field input[type="text"] {
	width: 500px;
}
.wpcd-wrapper {
	padding: 20px 0px 0 0
}
.wpcd-head h1 {
	margin: 0;
}
.wpcd-backend-settings {
	display: table;
	width: 100%;
}
.wpcd-menu-settings {
	width: 200px;
	max-width: 100%;
	/*display: table-cell;*/
	vertical-align: top;
	background: #92c93d;
}
.wpcd-menu-settings+.panels-container {
	-webkit-width: calc(100% - 200px);
	width: calc(100% - 200px);
	/*display: table-cell;*/
	vertical-align: top;
	padding: 20px 0;
	background: #fff;
	overflow: hidden;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings+.panels-container {
	border: 1px solid #dfdee2;
}

.wpcd-comment-designer-wrapper .wpcd-menu-settings ul li a {
	background-color: #92c93d;
	color: #FFF;
}

.wpcd-comment-designer-wrapper .wpcd-menu-settings ul li a:hover,
.wpcd-comment-designer-wrapper .wpcd-menu-settings ul li a.wpcd-form-menu-active,
.wpcd-comment-designer-wrapper .wpcd-menu-settings ul li a.wpcd-menu-active {
	background-color: #59a22d87;
}

.wpcd-backend-settings h1, .wpcd-backend-settings h2, .wpcd-backend-settings h3 {
	margin: 0;
	margin-bottom: 10px;
}

.wpcd-backend-settings h3{
	font-size: 14px;
}
.wpcd-backend-settings .wpcd-subhead h2 {
	font-size: 16px;
	color: #333;
	position: relative;
	padding-bottom: 10px;
	text-transform: uppercase;
	display: inline-block;
}
.wpcd-backend-settings .wpcd-subhead h2:before {
	content: '';
	width: 30px;
	left: 0;
	bottom: 0;
	height: 2px;
	background: #92c93d;
	position: absolute;
}
.display-options h3, .icon-color-options h3 {
	font-size: 14px;
	color: #777;
}
.wpcd-general-div {
	margin-top: 20px;
}
.wpcd-general-div:nth-of-type(1) {
	margin-top: 0;
}
.wpcd-row-odd {
	background-color: #fff;
	padding: 30px 20px;
}
.wpcd-row-even {
	background-color: #eee;
	padding: 30px 20px;
}

.wpcd-title-div h3, .wpcd-title-div label {
	font-size: 14px;
	font-weight: 500;
	color: #222;
	display: block;
	margin-bottom: 10px;
}
.wpcd-option-value label {
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}
.wpcd-option-value label:last-child {
	margin-right: 0;
}
.wpcd-option-value label > div {
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}
.wpcd-title-div h3, .wpcd-title-div label {
	font-size: 14px;
	font-weight: 500;
	color: #222;
	display: block;
	margin-bottom: 10px;
}
.wpcd-option-value label {
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}
.wpcd-option-value label > div {
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}
.wpcd-wrapper .button-primary, .wpcd-wrapper .button-primary:focus {
	background: #92c93d;
	border: none;
	text-shadow: none;
	box-shadow: none;
	-moz-transition: all 350ms ease-in-out;
	-webkit-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}
.wpcd-wrapper .button-primary:hover {
	background: #73b434;
}
.wpcd-wrapper .button-primary:active {
}
.wpcd-wrapper .wpcd-save-btn {
	display: inline-block;
	margin-right: 5px;
}
.wpcd-wrapper .wpcd-submit-button:active {
	vertical-align: inherit;
}
.wpcd-wrapper .wpcd-restore-btn {
	display: inline-block;
}
.wpcd-restore-btn .button-primary {
	background-color: #92c93d;
}
.wpcd-restore-btn .button-primary:hover {
	background: #73b434;
}

/*Displaying title and option side by side*/
.wpcd-general-div .wpcd-option-value {
    max-width: 571px;
    width: 100%;
}
.general-menu-wrap .wpcd-title-div {
    display: inline-block;
    width: 230px;
    padding: 0 20px 0 0;
    max-width: 100%;
}

.general-menu-wrap .wpcd-option-value {
    display: inline-block;
    width: calc(100% - 350px);
    vertical-align: top;
}


.display-menu-wrap .wpcd-title-div {
    display: inline-block;
    width: 230px;
    padding: 0 20px 0 0;
}

.display-menu-wrap .wpcd-option-value {
    display: inline-block;
    width: calc(100% - 350px);
    vertical-align: top;
}

.pagination-menu-wrap .wpcd-title-div {
    display: inline-block;
    width: 230px;
    padding: 0 20px 0 0;
}

.pagination-menu-wrap .wpcd-option-value {
    display: inline-block;
    width: calc(100% - 350px);
    vertical-align: top;
}

.general-form-menu-wrap .wpcd-title-div {
    display: inline-block;
    width: 290px;
    padding: 0 20px 0 0;
}

.general-form-menu-wrap .wpcd-option-value {
    display: inline-block;
    width: calc(100% - 315px);
    vertical-align: top;
}

.display-form-menu-wrap .wpcd-title-div {
    display: inline-block;
    width: 230px;
    padding: 0 20px 0 0;
}

.display-form-menu-wrap .wpcd-option-value {
    display: inline-block;
    width: calc(100% - 250px);
    vertical-align: top;
}

.field-form-menu-wrap .wpcd-title-div {
    display: inline-block;
    width: 230px;
    padding: 0 20px 0 0;
    float: left;
}

.field-form-menu-wrap .wpcd-option-value {
    display: inline-block;
    width: calc(100% - 250px);
    vertical-align: top;
    float: left;
}

@media only screen and (max-width: 720px){

	.general-form-menu-wrap .wpcd-option-value,
    .general-form-menu-wrap .wpcd-title-div,
	.field-form-menu-wrap .wpcd-title-div,
	.field-form-menu-wrap .wpcd-option-value {
    	width: 100%;
    }
}

/*required and error messages*/
.wpcd-error{
	color: red;
}

.general-menu-wrap .wpcd-title-div input[type="radio"] {
	margin-right: 0;
}
/*general setting checkbox*/

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}
[type="checkbox"]:not(:checked) + label.wpcd-general-checkbox, [type="checkbox"]:checked + label.wpcd-general-checkbox {
	position: relative;
	padding-left: 1.5em;
	cursor: pointer;
	padding-top: 4px;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label.wpcd-general-checkbox:before, [type="checkbox"]:checked + label.wpcd-general-checkbox:before {
	content: '';
	position: absolute;
	left: 2px;
	top: 1px;
	width: 20px;
	height: 20px;
	background: #92c93d;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	cursor: default;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label.wpcd-general-checkbox:after, [type="checkbox"]:checked + label.wpcd-general-checkbox:after {
	content: '✔';
	position: absolute;
	top: 3px;
	left: 5px;
	font-size: 14px;
	line-height: 0.8;
	color: #fff;
	transition: all .2s;
	cursor: default;
}
/* checked mark aspect changes */
input[type="checkbox"]:not(:checked) + label.wpcd-general-checkbox:after {
	opacity: 0;
	transform: scale(0);
}
input[type="checkbox"]:checked + label.wpcd-general-checkbox:after {
	opacity: 1;
	transform: scale(1);
}
/* disabled checkbox */
input[type="checkbox"]:disabled:not(:checked) + label.wpcd-general-checkbox:before, input[type="checkbox"]:disabled:checked + label.wpcd-general-checkbox:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}
input[type="checkbox"]:disabled:checked + label.wpcd-general-checkbox:after {
	color: #999;
}
input[type="checkbox"]:disabled + label.wpcd-general-checkbox {
	color: #aaa;
}

.wpcd-clearfix:after{
	content: "";
	clear: both;
	display: block;
}

.wpcd-menu-settings ul li.wpcd-form-general a:before{
    content: "\f107";
}

.wpcd-menu-settings ul li.wpcd-form-field a:before {
    content: "\f111";
} 

.wpcd-menu-settings ul li.wpcd-customization a:before{
	content: "\f108";
}

.wpcd-configuration-div .wpcd-title-div {
    display: inline;
    width: 230px;
    padding: 0 20px 0 0;
    float: left;
}

.wpcd-configuration-div .wpcd-option-value{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 250px);
	float: left;
}

.wpcd-configuration-div .wpcd-option-value select,
.wpcd-configuration-div .wpcd-option-value input[type=text]{
	width: 230px;
	max-width: 100%;
}

.wpcd-default-elements-wrap{
	border: 1px solid #92c93d;
	margin: 10px 0;
	position: relative;
}

.fa.fa-arrows{
	background-color: #92c93d;
	color: #fff;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	position: absolute;
	left: -15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

.wpcd-default-elements-wrap.wpcd-sortable-elements-wrap .wpcd-element > label{
	float: left;
	padding-left: 25px;
}

.wpcd-element-action-buttons{
	float: right;
	padding-right: 12px;
}

.wpcd-element-action-buttons .fa.fa-chevron-down,
.wpcd-element-action-buttons .fa.fa-chevron-up{
	background: #4c4c4c;
	color: #FFF;
	padding: 7px;
}

.wpcd-cd-enable-div label h5{
	margin: 10px 0 0;
}

.wpcd-field-settings-wrap{
	padding: 0 20px;
}

.wpcd-custom-wrapper{
	/*float: right;*/
	width: 100% ;
	border: 1px solid #ccc;
	padding: 25px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0px 5px 20px #ccc;
	    box-shadow: 0px 5px 20px #ccc;
}

.wpcd-custom-comment-element-outer-wrapper{
	float: left;
	width: 290px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid #ccc;
	background-color: #F0F0F0;
	-webkit-box-shadow: 0px 5px 20px #ccc;
	    box-shadow: 0px 5px 20px #ccc;
}

.wpcd-custom-comment-element-outer-wrapper h2{
	margin: 10px;
	color: #6E6E6E;
}

.wpcd-custom-field-wrap{
	background-color: #FFF;
	padding: 10px;
}

@media only screen and (max-width: 850px){
	.wpcd-custom-comment-element-outer-wrapper,
	.wpcd-custom-wrapper{
		float: none;
		display: block;
		width: 100%;
	}

	.wpcd-custom-wrapper{
		margin-top: 10px;
	}
}

.wpcd-pagination-type-div .wpcd-infinite-scroll-loader-div .wpcd-option-value,
.wpcd-pagination-type-div .wpcd-load-more-loader-div .wpcd-option-value{
	-webkit-box-shadow: 0px 5px 20px #ccc;
	    box-shadow: 0px 5px 20px #ccc;
	padding: 10px;
	width: unset;
}

.wpcd-pagination-type-div .wpcd-option-value input[type="radio"]+img{
    border: 1px solid #eee;
    padding: 10px;
}

.wpcd-pagination-type-div .wpcd-option-value input[type="radio"]+img:hover{
	background-color: #eee;
}

.wpcd-pagination-type-div .wpcd-option-value input[type="radio"]:checked+img{
    border: 1px solid #999;
	background-color: #eee;
}

.wpcd-option-value label{
	position: relative;
}

.pagination-menu-wrap .wpcd-option-value label{
	width: unset;
}

.wpcd-default-elements-wrap .wpcd-element:focus{
	background-color: #92c93d;
}

@media only screen and (min-width: 850px){
	.wpcd-field-settings-wrap .wpcd-stick{
		position: fixed;
		top: 40px;
		left: 80px;
	}
}

@media only screen and (min-width: 960px){
	.wpcd-field-settings-wrap .wpcd-stick{
		position: fixed;
		top: 40px;
		left: 200px;
	}
}

.wpcd-backend-settings .wpcd-element h2{
	margin-bottom: 0;
}

.wpcd-custom-wrapper .wpcd-clearfix.wpcd-element {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

/*about us css design starts*/
	.aboutus-menu-wrap{
		padding-top: 20px;
		margin: 20px 20px 0 0;
	}

	.wpcd-sub-section{
		float: left;
		width: calc(33.33% - 10px);
		padding: 0 10px 0 0;
	}

	.wpcd-sub-section .wpcd-sub-section-title{
		padding: 0 0 20px;
	}

	.wpcd-sub-section img{
		max-width: 100%;
		max-height: 100%;
	}

	.wpcd-content-wrap .wpcd-top-tab strong{
		display: block;
		margin: 20px 0 5px;
	}

	.wpcd-content-wrap .wpcd-top-tab .wpcd-content-title.wpcd-main-title,
	.wpcd-content-wrap .wpcd-content-section h4{
		background-color: #f1f1f1;
	    padding: 5px;
	    font-size: 14px;
	}
	.wpcd-content-wrap .wpcd-top-tab .wpcd-content-title.wpcd-main-title{
		text-align: center;
		margin: 20px 0;
		font-weight: 700;
		font-size: 18px;
		padding: 10px;
	}

	.wpcd-content-wrap .wpcd-top-tab .wpcd-content-title.wpcd-sub-title{
		position: relative;
		margin: 10px 0;
		padding-bottom: 10px;
		font-size: 16px;
		font-weight: 600;
	}

	.wpcd-content-wrap .wpcd-top-tab .wpcd-content-title.wpcd-sub-title:after{
		position: absolute;
		left: 0;
		bottom: 0;
		content: "";
		width: 30px;
	    height: 2px;
	    background-color: #92c93d;
	}

	.wpcd-content-wrap .wpcd-top-tab,
	.wpcd-content-wrap .wpcd-content-section{
		padding-bottom: 20px;
		border-bottom: 1px solid #4c4c4c;
		margin-bottom: 10px;
	}
/*about us css design ends*/

/*how to use page design starts*/
	.aboutus-menu-wrap .wpcd-option-value {
		margin-bottom: 1em;
	}

	.aboutus-menu-wrap .wpcd-option-value:last-child {
		margin-bottom: 0;
	}

	.wpcd-content-section ul li{
		margin-bottom: 10px;
	}

	.aboutus-menu-wrap .wpcd-top-tab{
		margin-top: 20px;
	}

	.aboutus-menu-wrap .wpcd-top-tab:first-child{
		margin-top: 0;
	}
/*how to use page design ends*/

.wpcd-custom-wrapper .field-form-menu-wrap .wpcd-option-value{
	width: unset;
}

.wpcd-custom-comment-element-outer-wrapper input[type="text"],
.wpcd-custom-comment-element-outer-wrapper select{
	width: 150px;
}

.aboutus-menu-wrap h2{
	position: relative;
	padding-bottom: 10px;
}

.aboutus-menu-wrap h2:before{
	content: "";
	width: 30px;
	height: 2px;
	left: 0;
	bottom: 0;
	position: absolute;
	background-color: #92c93d;
}

.wpcd-default-elements-wrap .wpcd-element-border{
	background-color: #92c93d;
}

.wpcd-default-elements-wrap .wpcd-element-border h2{
	color: #FFF;
}

.wp-core-ui .wpcd-custom-wrapper.ui-sortable .button-primary:active{
	vertical-align: unset;
}

[type="checkbox"]:not(:checked) + label.wpcd-general-checkbox::after, 
[type="checkbox"]:checked + label.wpcd-general-checkbox::after{
	font-family: FontAwesome;
	content: "\f00c";
	top: 6px;
	left: 5px;
}
select.select-form_type-dropdown,
select.select-form-dropdown,
select.select-locations-dropdown,
select.template-dropdown,
input[type=number],
select.select-pagination-dropdown{
	width: 150px;
}

.wpcd-option-value-wrap .wpcd-each-option{
	position: relative;
	padding-left: 40px;
}

.wpcd-option-value-wrap{
	padding: 10px 0;
}

.wpcd-option-value-wrap .wpcd-each-option .fa.fa-arrows{
	left: 0;
}

.wpcd-option-remover{
	position: relative;
}

.wpcd-option-remover:after{
	font-family: dashicons;
	content: "\f182";
	position: absolute;
	left: 3px;
	top: 6px;
	font-weight: normal;
	font-size: 20px;
	color: #db3044;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings+.panels-container,
.wpcd-form-builder-wrapper .wpcd-menu-settings{
	width: 100%;
	display: block;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings ul,
.wpcd-form-builder-wrapper .wpcd-menu-settings ul li{
	float: left;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings ul li{
	margin-right: 5px;
}

.wpcd-form-builder-wrapper .wpcd-backend-settings .wpcd-menu-settings{
	background-color: transparent;
}

.wpcd-form-builder-wrapper .wpcd-backend-settings .panels-container{
	border-top: 1px solid #ccc;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings ul li a{
	border: 1px solid #ccc;
	position: relative;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings ul li a:after{
	content: "";
	width: 100%;
	height: 1px;
	left: 0;
	bottom: -1px;
	position: absolute;
	background-color: #e5e5e5;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings ul li:hover a:after{
	background-color: #FFF;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings ul li a.wpcd-form-menu-active{
	color: #555;
	background-color: #fff;
	position: relative;
}

.wpcd-form-builder-wrapper .wpcd-menu-settings ul li a.wpcd-form-menu-active:after{
	content: "";
	width: 100%;
	height: 6px;
	left: 0;
	bottom: -6px;
	position: absolute;
	background-color: #fff;
}

.wpcd-elements-settings-wrap .wpcd-each-option input[type=text]{
	float: left;
}

.wp-core-ui .notice.is-dismissible{
	margin-bottom: 20px;
}

.wpcd-backend-settings .wpcd-menu-inner-field.wpcd-option-value{
	width: 100%;
	position: relative;
}

.wpcd-backend-settings .wpcd-menu-inner-field.wpcd-option-value select.template-dropdown{
	position: absolute;
	left: 200px;
	top: -35px;
}

.wpcd-template-demo .wpcd-common .wpcd-preview{
	padding: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	position: relative;
		-webkit-box-shadow: -7px 0px 4px rgba(230, 230, 230, .5);
	-moz-box-shadow: -7px 0px 4px rgba(230, 230, 230, .5);
	box-shadow: -7px 0px 4px rgba(230, 230, 230, .5);
}

.wpcd-template-demo .wpcd-common .wpcd-preview:before{
	position: absolute;
	left: 0px;
	bottom: -2px;
	height: 12px;
	width: 100%;
	background-color: #fff;
	content: "";
}

.wpcd-template-demo .wpcd-common .wpcd-display-template {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 0px 20px #ccc;
		box-shadow: 0px 0px 20px #ccc;
}

.wpcd-template-demo .wpcd-common img{
	width: calc(50% - 20px);
    float: left;
    padding: 10px;
}

/*refinement css starts here*/
	.wpcd-backend-settings .panels-container h2{
		font-size: 1.1em;
	}

	.wpcd-backend-settings .panels-container .wpcd-custom-comment-element-outer-wrapper select.select-locations-dropdown,
	.wpcd-backend-settings .panels-container .wpcd-custom-comment-element-outer-wrapper input[type=text]{
		width: 100%;
	}

	.wpcd-backend-settings .panels-container .wpcd-custom-comment-element-outer-wrapper label {
		vertical-align: unset;
	}

	.wpcd-backend-settings .wpcd-custom-comment-element-outer-wrapper .wpcd-general-div {
		margin-top: 0;
	}

	.wpcd-backend-settings .wpcd-custom-comment-element-outer-wrapper .wpcd-cd-enable-div {
		margin-bottom: 20px;
	}

	.wpcd-backend-settings .panels-container .wpcd-custom-comment-element-outer-wrapper h3{
		margin-bottom: 5px;
	}

	.wpcd-backend-settings .wpcd-default-elements-wrap .wpcd-elements-settings-wrap input[type=text]{
		max-width: 150px;
		width: 100%;
	}
/*refinement css ends here*/

@media only screen and (max-width: 900px){
	.wpcd-template-demo .wpcd-common img{
		width: calc(100% - 20px);
		float: none;
		display: block;
	}
}

@media only screen and (min-width: 850px){
	.field-form-menu-wrap.settings-content + .wpcd-field-wrap{
		/*padding-left: 310px;*/
	}
}

@media only screen and (max-width: 480px){
	a.wpcd-elements-settings-trigger.button-primary{
		display: none;
	}
}

/*rtl responsive design starts here*/

	.rtl .wpcd-menu-settings ul li a {
		padding: 10px 40px 10px 15px;
	}

	.rtl .wpcd-menu-settings ul li a:before {
		left: unset;
		right: 5px;
	}

	.rtl .wpcd-backend-settings .wpcd-menu-inner-field.wpcd-option-value select.template-dropdown {
		left: unset;
		right: 230px;
		top: -30px;
	}

	.rtl .wpcd-configuration-div .wpcd-title-div {
		float: right;
		padding: 0;
	}

	@media only screen and (min-width: 960px){
		.rtl .wpcd-field-settings-wrap .wpcd-stick {
		    left: 20px;
		}
	}
	
	.rtl .aboutus-menu-wrap h2:before,
	.rtl .wpcd-content-wrap .wpcd-top-tab .wpcd-content-title.wpcd-sub-title:after {
		left: unset;
		right: 0;
	}


/*rtl responsive design ends here*/

.wpcd-settings-container {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.wpcd-settings-container .wpcd-backend-settings {
    width: -webkit-calc(100% - 355px);
    width: calc(100% - 355px);
    padding: 20px;
    background-color: #FFF;
    margin-top: 20px;
    /*display: flex;*/
}

.wpcd-settings-container .wpcd-upgrade-wrapper {
    width: 300px;
    margin-top: 20px;
}

.wpcd-upgrade-button-wrap-backend {
	text-align: center;
}
.wpcd-upgrade-button-wrap-backend a,
.wpcd-button-wrap-backend a {
    text-decoration: none;
    background-color: #3d74f1;
    color: #fff;
    border: 1px solid #3d74f1;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 10px 0;
    display: inline-block;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

@media screen and (max-width: 1290px) {
	.wpcd-configuration-div .wpcd-title-div,
	.pagination-menu-wrap .wpcd-title-div,
	.general-menu-wrap .wpcd-option-value {
		width: 	100%;
		float: none;
	}
	.wpcd-configuration-div .wpcd-option-value,
	.pagination-menu-wrap .wpcd-option-value,
	.general-menu-wrap .wpcd-option-value {
		width: 100%;
		margin-top: 10px;
		float: none;
	}
	.wpcd-wrapper .wpcd-restore-btn {
		margin-top: 10px;
	}
}

@media screen and (max-width: 992px) {
	.wpcd-menu-settings {
		width: 100%;
	}
	.wpcd-menu-settings+.panels-container {
		width: 100%;
		margin-top: 10px;
	}
	.wpcd-settings-container .wpcd-backend-settings {
		flex-direction: column;
	}
}